<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.project.mapper.master.AccessApiMapper">
    <resultMap id="BaseResultMap" type="com.project.entity.AccessApi">
        <id column="id_access_api" property="idAccessApi" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="display_name" property="displayName" jdbcType="VARCHAR"/>
        <result column="key_name" property="keyName" jdbcType="VARCHAR"/>
        <result column="level" property="level" jdbcType="INTEGER"/>
        <result column="parent_id" property="parentId" jdbcType="INTEGER"/>
        <result column="router_path" property="routerPath" jdbcType="VARCHAR"/>
        <result column="seque" property="seque" jdbcType="INTEGER"/>
        <result column="icon" property="icon" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
       id_access_api, `name`, display_name, `key_name`, `level`, `parent_id`, `router_path`, `seque`, `icon`
	</sql>
    <select id="getAuthByRole" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/> FROM `access_api` WHERE id_access_api IN (
        SELECT id_access_api FROM role_access WHERE id_role = #{idRole,jdbcType=INTEGER}
        ) ORDER BY `level`,seque
    </select>
</mapper>