<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.project.mapper.master.CollectionRecordMapper">
    <resultMap id="BaseResultMap" type="com.project.entity.CollectionRecord">
        <id column="id_collection_record" property="idCollectionRecord" jdbcType="INTEGER"/>
        <result column="id_card_type" property="idCardType" jdbcType="INTEGER"/>
        <result column="id_config" property="idConfig" jdbcType="INTEGER"/>
        <result column="amount" property="amount" jdbcType="DECIMAL"/>
        <result column="collection_date" property="collectionDate" jdbcType="TIMESTAMP"/>
        <result column="id_user" property="idUser" jdbcType="INTEGER"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
       id_collection_record, id_card_type, id_config, amount, collection_date, id_user, remark, create_time
	</sql>
    <select id="selectPageDetailByYear" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM `collection_record`
        WHERE id_config = #{idCardType,jdbcType=INTEGER}
        <if test="year != null">
            AND YEAR(collection_date) = #{year}
        </if>
    </select>
    <select id="selectCollectionTotalByYear" resultType="java.lang.String">
        SELECT SUM(amount)
        FROM `collection_record`
        WHERE id_config = #{idCardType,jdbcType=INTEGER}
        <if test="year != null">
            AND YEAR(collection_date) = #{year}
        </if>
    </select>
    <insert id="addSelective" parameterType="com.project.entity.CollectionRecord"
            useGeneratedKeys="true" keyProperty="idCollectionRecord">
        insert into collection_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="idCollectionRecord != null">
                id_collection_record,
            </if>
            <if test="idCardType != null">
                id_card_type,
            </if>
            <if test="idConfig != null">
                id_config,
            </if>
            <if test="amount != null">
                amount,
            </if>
            <if test="collectionDate != null and collectionDate != ''">
                collection_date,
            </if>
            <if test="idUser != null">
                id_user,
            </if>
            <if test="remark != null and remark != ''">
                remark,
            </if>
            <if test="createTime != null and createTime != ''">
                create_time
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="idCollectionRecord != null">
                #{idCollectionRecord,jdbcType=INTEGER},
            </if>
            <if test="idCardType != null">
                #{idCardType,jdbcType=INTEGER},
            </if>
            <if test="idConfig != null">
                #{idConfig,jdbcType=INTEGER},
            </if>
            <if test="amount != null">
                #{amount,jdbcType=DECIMAL},
            </if>
            <if test="collectionDate != null and collectionDate != ''">
                #{collectionDate,jdbcType=VARCHAR},
            </if>
            <if test="idUser != null">
                #{idUser,jdbcType=INTEGER},
            </if>
            <if test="remark != null and remark != ''">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null and createTime != ''">
                #{createTime,jdbcType=VARCHAR}
            </if>
        </trim>
    </insert>
    <update id="updateSelective" parameterType="com.project.entity.CollectionRecord">
        update collection_record
        <set>
            <if test="idCardType != null">
                id_card_type = #{idCardType,jdbcType=INTEGER},
            </if>
            <if test="idConfig != null">
                id_config = #{idConfig,jdbcType=INTEGER},
            </if>
            <if test="amount != null">
                amount = #{amount,jdbcType=DECIMAL},
            </if>
            <if test="collectionDate != null and collectionDate != ''">
                collection_date = #{collectionDate,jdbcType=VARCHAR},
            </if>
            <if test="remark != null and remark != ''">
                remark = #{remark,jdbcType=VARCHAR}
            </if>
        </set>
        where id_collection_record = #{idCollectionRecord,jdbcType=INTEGER}
    </update>
    <delete id="deleteSelective" parameterType="java.lang.Integer">
        delete from collection_record where id_collection_record = #{idCollectionRecord,jdbcType=INTEGER}
    </delete>
    <select id="selectByPageTotal" resultType="java.lang.Integer">
        SELECT count(1)
        FROM collection_record cr
        LEFT JOIN `user` u ON u.`id_user` = cr.`id_user`
        where 1=1
        <if test="startTime != null and startTime != ''">
            AND DATE_FORMAT(cr.`collection_date`,'%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
        </if>
        <if test="idCardType != null">
            and cr.id_card_type = #{idCardType,jdbcType=INTEGER}
        </if>
    </select>
    <select id="selectByPage" resultType="com.project.entity.CollectionRecord">
        SELECT
        cr.`id_collection_record` AS 'idCollectionRecord',
        cr.`amount`,
        cr.`collection_date` AS 'collectionDate',
        cr.`remark`,
        cr.`create_time` AS 'createTime',
        cr.id_card_type as 'idCardType',
        cr.id_config as 'idConfig',

        cr.`id_user` AS 'idUser',
        u.`real_name` AS 'userName'
        FROM collection_record cr
        LEFT JOIN `user` u ON u.`id_user` = cr.`id_user`
        where 1=1
        <if test="collectionRecord.startTime != null and collectionRecord.startTime != ''">
            AND DATE_FORMAT(cr.`collection_date`,'%Y-%m-%d') BETWEEN #{collectionRecord.startTime} AND #{collectionRecord.endTime}
        </if>
        <if test="collectionRecord.idCardType != null">
            and cr.id_card_type = #{collectionRecord.idCardType,jdbcType=INTEGER}
        </if>
        ORDER BY cr.`collection_date` DESC
        <if test="pageSize > 0">
            LIMIT #{startIndex},#{pageSize}
        </if>
    </select>
</mapper>