<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.project.mapper.master.ConfigMapper">
    <resultMap id="BaseResultMap" type="com.project.entity.Config">
        <id column="id_config" property="idConfig" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="config" property="config" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
       id_config, `name`, config
	</sql>
    <select id="selectConfigInfo" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/>
        from `config`
        where `id_config` = #{idConfig,jdbcType=INTEGER}
    </select>
    <update id="updateConfig" parameterType="com.project.entity.Config">
        update `config` set `config` = #{config,jdbcType=VARCHAR} where id_config = #{idConfig,jdbcType=INTEGER}
    </update>
</mapper>