<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.project.mapper.master.InspectPlanMapper">
    <resultMap id="BaseResultMap" type="com.project.entity.InspectPlan">
        <id column="id_inspect_plan" property="idInspectPlan" jdbcType="INTEGER"/>
        <result column="id_inspection" property="idInspection" jdbcType="INTEGER"/>
        <result column="id_user" property="idUser" jdbcType="INTEGER"/>
        <result column="id_inspect_state" property="idInspectState" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
       id_inspect_plan, `id_inspection`, id_user, id_inspect_state
	</sql>
    <select id="selectInspectPlanByUserId" resultType="com.project.entity.InspectPlan">
        SELECT
        id_inspect_plan as 'idInspectPlan',
        id_inspection as 'idInspection'
        FROM inspect_plan
        WHERE id_user = #{idUser,jdbcType=INTEGER}
        AND id_inspect_state = 1
    </select>
    <select id="selectInspectPlanList" resultMap="BaseResultMap">
        select * from inspect_plan
    </select>
    <select id="selectInspectPlanById" resultMap="BaseResultMap">
      select <include refid="Base_Column_List"/> from inspect_plan where id_inspect_plan = #{idInspectPlan,jdbcType=INTEGER}
    </select>
    <update id="updateSelective" parameterType="com.project.entity.InspectPlan">
        update inspect_plan
        <set>
            <if test="idInspection != null">
                id_inspection = #{idInspection,jdbcType=INTEGER},
            </if>
            <if test="idUser != null">
                idUser = #{idUser,jdbcType=VARCHAR},
            </if>
            <if test="idInspectState != null">
                id_inspect_state = #{idInspectState,jdbcType=INTEGER}
            </if>
        </set>
        where id_inspect_plan = #{idInspectPlan,jdbcType=INTEGER}
    </update>
    <delete id="deletSelective">
		DELETE FROM `inspect_plan` WHERE id_inspect_plan = #{idInspectPlan,jdbcType=INTEGER}
	</delete>
    <insert id="insertSelective" parameterType="com.project.entity.InspectPlan"
            useGeneratedKeys="true" keyProperty="idInspectPlan">
        insert into inspect_plan
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="idInspectPlan != null">
                id_inspect_plan,
            </if>
            <if test="idInspection != null">
                `id_inspection`,
            </if>
            <if test="idUser != null">
                id_user,
            </if>
            <if test="idInspectState != null">
                id_inspect_state
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="idInspectPlan != null">
                #{idInspectPlan,jdbcType=INTEGER},
            </if>
            <if test="idInspection != null">
                #{idInspection,jdbcType=VARCHAR},
            </if>
            <if test="idUser != null">
                #{idUser,jdbcType=INTEGER},
            </if>
            <if test="idInspectState != null">
                #{idInspectState,jdbcType=INTEGER}
            </if>
        </trim>
    </insert>
</mapper>