<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.project.mapper.master.PaymentFormMapper">
    <resultMap id="BaseResultMap" type="com.project.entity.PaymentForm">
        <id column="id_payment_form" property="idPaymentForm" jdbcType="INTEGER"/>
        <result column="id_approval" property="idApproval" jdbcType="INTEGER"/>
        <result column="code" property="code" jdbcType="VARCHAR"/>
        <result column="id_card_type" property="idCardType" jdbcType="INTEGER"/>
        <result column="id_config" property="idConfig" jdbcType="INTEGER"/>
        <result column="reason_application" property="reasonApplication" jdbcType="VARCHAR"/>
        <result column="amount" property="amount" jdbcType="DECIMAL"/>
        <result column="payment_name" property="paymentName" jdbcType="VARCHAR"/>
        <result column="payment_account" property="paymentAccount" jdbcType="VARCHAR"/>
        <result column="id_user" property="idUser" jdbcType="INTEGER"/>
        <result column="id_payment_form_state" property="idPaymentFormState" jdbcType="INTEGER"/>
        <result column="state" property="state" jdbcType="INTEGER"/>
        <result column="files" property="files" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
       id_payment_form, id_approval, `code`, id_card_type, id_config, reason_application, amount, payment_name, payment_account, id_user,
       id_payment_form_state, state, files, create_time
	</sql>
    <select id="selectByStateCount" resultType="java.lang.Integer">
        SELECT count(1) FROM `payment_form`
        WHERE state = #{state}
    </select>
    <select id="selectByState" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/> FROM `payment_form`
        WHERE id_user = #{idUser,jdbcType=INTEGER}
        AND state = #{state,jdbcType=INTEGER}
    </select>
    <select id="selectPayFlowRecordDetails" resultType="com.project.entity.PaymentForm">
        SELECT
         u.`id_department` AS 'idDepartment',
         d.`department_name` AS 'departmentName',
         pr.`amount` AS 'remittanceAmount',
         pr.`service_charge` AS 'serviceCharge',
         pr.`remittance_date` AS 'remittanceDate'
         FROM payment_remittance pr
         LEFT JOIN  payment_form pf ON pf.`id_payment_form` = pr.`id_payment_form`
        LEFT JOIN payment_approval pa ON pa.`id_payment_form` = pf.`id_payment_form`
        LEFT JOIN `user` u ON u.`id_user` = pf.`id_user`
        LEFT JOIN department d ON d.`id_department` = u.`id_department`
        WHERE pr.id_config = #{idCardType,jdbcType=INTEGER}
        <if test="year != null">
            AND YEAR(pr.`remittance_date`) = #{year}
        </if>
    </select>
    <select id="selectCollectionByIdCardType" resultType="com.project.entity.PaymentForm">
        SELECT
         cr.`id_collection_record` as 'idCollectionRecord',
         cr.`amount` AS 'collectionAmount',
         cr.`id_card_type` AS 'idCardType',
         ifr.`remaining_sum` AS 'remainingSum',
         ifr.`id_flow_type` AS 'idFlowType',
         ifr.`id_income_flow_record` AS 'idIncomeFlowRecord',
         cr.`remark`,
         cr.`collection_date` AS 'createTime'
         FROM income_flow_record ifr
        LEFT JOIN collection_record cr ON cr.`id_collection_record` = ifr.`id_collection_record`
        WHERE cr.`id_config` = #{idCardType,jdbcType=INTEGER}
        AND DATE_FORMAT(cr.`collection_date`, '%Y-%m-%d') = #{date,jdbcType=VARCHAR}
        order by cr.create_time desc
    </select>
    <select id="selectPaymentByIdCardType" resultType="com.project.entity.PaymentForm">
        SELECT
         pf.`reason_application` AS 'reasonApplication',
         pf.`amount`,
         pf.`payment_name` AS 'paymentName',
         pf.`payment_account` AS 'paymentAccount',
         pf.`code`,
         pf.`id_card_type` AS 'idCardType',
         pa.`amount` AS 'approvalAmount',
         pr.`id_payment_remittance` as 'idPaymentRemittance',
         pr.`id_payment_form` as 'idPaymentForm',
         pr.`amount` AS 'remittanceAmount',
         pr.`service_charge` AS 'serviceCharge',
         pfr.`id_pay_flow_record` as 'idPayFlowRecord',
         pfr.`remaining_sum` AS 'remainingSum',
         pfr.`id_flow_type` AS 'idFlowType',
         pfr.`id_pay_flow_record` AS 'idPayFlowRecord',
         pr.remark as 'remark',
         pr.`remittance_date` AS 'createTime'
         FROM pay_flow_record pfr
        LEFT JOIN payment_remittance pr ON pr.`id_payment_remittance` = pfr.`id_payment_remittance`
        LEFT JOIN payment_approval pa ON pa.`id_payment_form` = pr.`id_payment_form`
        LEFT JOIN payment_form pf ON pf.`id_payment_form` = pa.`id_payment_form`
        WHERE pr.`id_config` = #{idCardType,jdbcType=INTEGER}
        AND DATE_FORMAT(pr.`remittance_date`, '%Y-%m-%d') = #{date,jdbcType=VARCHAR}
        order by pr.create_time desc
    </select>
    <select id="queryLastDayCollectionRecord" resultType="com.project.entity.PaymentForm">
         SELECT
         amount as 'collectionAmount',
         collection_date as 'collectionDate'
         FROM `collection_record`
         WHERE id_card_type = #{idCardType,jdbcType=INTEGER}
         AND  DATE_FORMAT(collection_date, '%Y-%m-%d') = #{currentDate}
    </select>
    <select id="queryLastDayFlowRecord" resultType="com.project.entity.PaymentForm">
        SELECT
         pf.`code`,
         pf.`reason_application` AS 'reasonApplication',
         pf.`amount`,
         pf.`payment_name` AS 'paymentName',
         pf.`payment_account` AS 'paymentAccount',

         pa.`amount` AS 'approvalAmount',
         pa.`create_time` AS 'approvalCreateTime',

         pr.`amount` AS 'remittanceAmount',
         pr.`service_charge` AS 'serviceCharge',
         pr.`remittance_date` AS 'remittanceDate'
         FROM payment_form pf
        LEFT JOIN payment_approval pa ON pa.`id_payment_form` = pf.`id_payment_form`
        LEFT JOIN payment_remittance pr ON pr.`id_payment_form` = pf.`id_payment_form`
        WHERE pf.`id_card_type` = #{idCardType,jdbcType=INTEGER}
        AND DATE_FORMAT(pr.`remittance_date`, '%Y-%m-%d') = #{currentDate}
    </select>
    <select id="queryIncomeFlowRecordDetailTotal" resultType="java.lang.Integer">
        SELECT count(1)
        FROM income_flow_record ifr
        LEFT JOIN collection_record cr ON cr.`id_collection_record` = ifr.`id_collection_record`
        WHERE 1=1
        <if test="startTime != null and endTime != null and startTime != '' and endTime != ''">
            AND DATE_FORMAT(cr.`create_time`, '%Y-%m-%d') between #{startTime} and #{endTime}
        </if>
    </select>
    <select id="queryIncomeFlowRecordDetail" resultType="com.project.entity.PaymentForm">
        SELECT
         cr.`amount` as 'collectionAmount',
         cr.`id_card_type` as 'idCardType',
         cr.`id_config` as 'idConfig',
         ifr.`remaining_sum` AS 'remainingSum',
         ifr.`id_flow_type` AS 'idFlowType',
         ifr.`id_income_flow_record` AS 'idIncomeFlowRecord',
         cr.`remark` as 'remark',
         cr.`collection_date` as 'collectionDate',
         cr.`create_time` AS 'createTime'
         FROM income_flow_record ifr
        LEFT JOIN collection_record cr ON cr.`id_collection_record` = ifr.`id_collection_record`
        WHERE 1=1
        <if test="startTime != null and endTime != null and startTime != '' and endTime != ''">
            AND DATE_FORMAT(cr.`collection_date`, '%Y-%m-%d') between #{startTime} and #{endTime}
        </if>
        ORDER BY cr.`collection_date` DESC, cr.`id_collection_record` DESC
        <if test="pageSize > 0">
            LIMIT #{startIndex},#{pageSize}
        </if>
    </select>
    <select id="queryPayFlowRecordDetailTotal" resultType="java.lang.Integer">
        SELECT count(1)
        FROM pay_flow_record pfr
        LEFT JOIN payment_remittance pr ON pr.`id_payment_remittance` = pfr.`id_payment_remittance`
        LEFT JOIN payment_approval pa ON pa.`id_payment_form` = pr.`id_payment_form`
        LEFT JOIN payment_form pf ON pf.`id_payment_form` = pa.`id_payment_form`
        WHERE 1=1
        <if test="startTime != null and endTime != null and startTime != '' and endTime != ''">
            AND DATE_FORMAT(pr.`remittance_date`, '%Y-%m-%d') between #{startTime} and #{endTime}
        </if>
    </select>
    <select id="queryPayFlowRecordDetail" resultType="com.project.entity.PaymentForm">
        SELECT
         pf.`reason_application` AS 'reasonApplication',
         pf.`amount`,
         pf.`payment_name` AS 'paymentName',
         pf.`payment_account` AS 'paymentAccount',
         pf.`code`,
         pr.`id_card_type` as 'idCardType',
         pa.`amount` AS 'approvalAmount',
         pr.`amount` AS 'remittanceAmount',
         pr.`service_charge` AS 'serviceCharge',
         pfr.`remaining_sum` AS 'remainingSum',
         pfr.`id_flow_type` AS 'idFlowType',
         pfr.`id_pay_flow_record` AS 'idPayFlowRecord',
         pr.`remark` AS 'remark',
         pr.`remittance_date` as 'remittanceDate',
         pr.`id_config` as 'idConfig',
         pr.`create_time` AS 'createTime'
         FROM pay_flow_record pfr
        LEFT JOIN payment_remittance pr ON pr.`id_payment_remittance` = pfr.`id_payment_remittance`
        LEFT JOIN payment_approval pa ON pa.`id_payment_form` = pr.`id_payment_form`
        LEFT JOIN payment_form pf ON pf.`id_payment_form` = pa.`id_payment_form`
        WHERE 1=1
        <if test="startTime != null and endTime != null and startTime != '' and endTime != ''">
            AND DATE_FORMAT(pr.`remittance_date`, '%Y-%m-%d') between #{startTime} and #{endTime}
        </if>
        ORDER BY pr.`remittance_date` DESC, pr.`id_payment_remittance` DESC
        <if test="pageSize > 0">
            LIMIT #{startIndex},#{pageSize}
        </if>
    </select>
    <select id="queryPaymentRemittanceCount" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM payment_form WHERE id_payment_form NOT IN (
            SELECT id_payment_form FROM payment_remittance WHERE id_payment_form IS NOT NULL
        )
    </select>
    <select id="queryApprovalPaymentCount" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM payment_form WHERE id_payment_form_state = 1
    </select>
    <select id="queryPaymentFormTotal" resultType="java.lang.Integer">
        SELECT count(1)
        FROM payment_form pf
        LEFT JOIN payment_approval pa ON pa.`id_payment_form` = pf.`id_payment_form`
        LEFT JOIN `user` u ON u.`id_user` = pf.`id_user`
        LEFT JOIN `user` ua ON ua.`id_user` = pa.`id_user`
        WHERE 1=1
        AND pf.`state` &lt;&gt; 1
        <if test="paymentForm != null">
            <if test="paymentForm.code != null and paymentForm.code != ''">
                AND pf.`code` LIKE CONCAT('%',#{paymentForm.code,jdbcType=VARCHAR},'%')
            </if>
            <if test="paymentForm.idCardType != null">
                and pf.id_card_type = #{paymentForm.idCardType,jdbcType=INTEGER}
            </if>
        </if>
    </select>
    <select id="queryAllPaymentForm" resultType="com.project.entity.PaymentForm">
         SELECT
         pf.`id_payment_form` AS 'idPaymentForm',
         pf.`id_approval` as 'idApproval',
         pf.`code`,
         pf.`reason_application` AS 'reasonApplication',
         pf.`amount`,
         pf.`payment_name` AS 'paymentName',
         pf.`payment_account` AS 'paymentAccount',
         pf.`id_payment_form_state` AS 'idPaymentFormState',
         pf.`create_time` AS 'createTime',
         pf.`id_user` AS 'idUser',
         pf.`id_card_type` as 'idCardType',
         pf.`id_config` as 'idConfig',
         pf.`state`,
         pf.`files`,
         pa.`amount` AS 'approvalAmount',
         ua.`real_name` AS 'approvalUser',
         pr.`amount` AS 'remittanceAmount',
         pr.`service_charge` AS 'serviceCharge',
         ur.`real_name` AS 'remittanceUser',
         u.`real_name` AS 'userName'
         FROM payment_form pf
         LEFT JOIN payment_approval pa ON pa.`id_payment_form` = pf.`id_payment_form`
         LEFT JOIN payment_remittance pr ON pr.`id_payment_form` = pf.`id_payment_form`
         LEFT JOIN `user` u ON u.`id_user` = pf.`id_user`
         LEFT JOIN `user` ua ON ua.`id_user` = pa.`id_user`
         LEFT JOIN `user` ur ON ur.`id_user` = pr.`id_user`
         WHERE 1=1
         AND pf.`state` &lt;&gt; 1
        <if test="paymentForm != null">
            <if test="paymentForm.code != null and paymentForm.code != ''">
                AND pf.`code` LIKE CONCAT('%',#{paymentForm.code,jdbcType=VARCHAR},'%')
            </if>
            <if test="paymentForm.idCardType != null">
                and pf.id_card_type = #{paymentForm.idCardType,jdbcType=INTEGER}
            </if>
        </if>
        ORDER BY pf.`create_time` DESC
        <if test="pageSize > 0">
            LIMIT #{startIndex},#{pageSize}
        </if>
    </select>
    <select id="selectApprovalPaymentFormTotal" resultType="java.lang.Integer">
        SELECT count(1)
        FROM payment_form pf
        LEFT JOIN `user` u ON u.`id_user` = pf.`id_user`
        WHERE 1=1
        <if test="paymentForm != null">
            <if test="paymentForm.code != null and paymentForm.code != ''">
                AND pf.`code` LIKE CONCAT('%',#{paymentForm.code,jdbcType=VARCHAR},'%')
            </if>
            <if test="paymentForm.idPaymentFormState != null">
                and pf.`id_payment_form_state` = #{paymentForm.idPaymentFormState,jdbcType=INTEGER}
            </if>
        </if>
    </select>
    <select id="selectApprovalPaymentFormByPage" resultType="com.project.entity.PaymentForm">
        SELECT
        pf.`id_payment_form` AS 'idPaymentForm',
        pf.`id_approval` as 'idApproval',
        pf.`code`,
        pf.`reason_application` AS 'reasonApplication',
        pf.`amount`,
        pf.`payment_name` AS 'paymentName',
        pf.`payment_account` AS 'paymentAccount',
        pf.`id_payment_form_state` as 'idPaymentFormState',
        pf.`id_user` AS 'idUser',
        pf.`create_time` AS 'createTime',
        pf.`files`,
        u.`real_name` AS 'userName'
        FROM payment_form pf
        LEFT JOIN `user` u ON u.`id_user` = pf.`id_user`
        WHERE 1=1
        <if test="paymentForm != null">
            <if test="paymentForm.code != null and paymentForm.code != ''">
                AND pf.`code` LIKE CONCAT('%',#{paymentForm.code,jdbcType=VARCHAR},'%')
            </if>
            <if test="paymentForm.idPaymentFormState != null">
                and pf.`id_payment_form_state` = #{paymentForm.idPaymentFormState,jdbcType=INTEGER}
            </if>
        </if>
        ORDER BY pf.`create_time` DESC
        <if test="pageSize > 0">
            LIMIT #{startIndex},#{pageSize}
        </if>
    </select>
    <select id="queryMaxCode" resultType="java.lang.String">
        SELECT MAX(`code`) FROM payment_form
        WHERE DATE_FORMAT(create_time, '%y-%m-%d') = DATE_FORMAT(#{date}, '%y-%m-%d')
    </select>
    <insert id="addSelective" parameterType="com.project.entity.PaymentForm"
            useGeneratedKeys="true" keyProperty="idPaymentForm">
        insert into payment_form
        <trim prefix="(" suffix=")" suffixOverrides=",">
          <if test="idPaymentForm != null">
              id_payment_form,
          </if>
          <if test="idApproval != null">
              id_approval,
          </if>
          <if test="code != null and code != ''">
              `code`,
          </if>
          <if test="idCardType != null">
              id_card_type,
          </if>
          <if test="idConfig != null">
              id_config,
          </if>
          <if test="reasonApplication != null and reasonApplication != ''">
              reason_application,
          </if>
          <if test="amount != null">
              amount,
          </if>
          <if test="paymentName != null and paymentName != ''">
              payment_name,
          </if>
          <if test="paymentAccount != null and paymentAccount != ''">
              payment_account,
          </if>
          <if test="idUser != null">
              id_user,
          </if>
          <if test="state != null">
              `state`,
          </if>
          <if test="files != null and files != ''">
              `files`,
          </if>
          <if test="createTime != null and createTime != ''">
              create_time
          </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="idPaymentForm != null">
                #{idPaymentForm,jdbcType=INTEGER},
            </if>
            <if test="idApproval != null">
                #{idApproval,jdbcType=INTEGER},
            </if>
            <if test="code != null and code != ''">
                #{code,jdbcType=VARCHAR},
            </if>
            <if test="idCardType != null">
                #{idCardType,jdbcType=INTEGER},
            </if>
            <if test="idConfig != null">
                #{idConfig,jdbcType=INTEGER},
            </if>
            <if test="reasonApplication != null and reasonApplication != ''">
                #{reasonApplication,jdbcType=VARCHAR},
            </if>
            <if test="amount != null">
                #{amount,jdbcType=DECIMAL},
            </if>
            <if test="paymentName != null and paymentName != ''">
                #{paymentName,jdbcType=VARCHAR},
            </if>
            <if test="paymentAccount != null and paymentAccount != ''">
                #{paymentAccount,jdbcType=VARCHAR},
            </if>
            <if test="idUser != null">
                #{idUser,jdbcType=INTEGER},
            </if>
            <if test="state != null">
                #{state, jdbcType=INTEGER},
            </if>
            <if test="files != null and files != ''">
                #{files,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null and createTime != ''">
                #{createTime,jdbcType=VARCHAR}
            </if>
        </trim>
    </insert>
    <update id="updateSelective" parameterType="com.project.entity.PaymentForm">
        update payment_form
        <set>
            <if test="idCardType != null">
                id_card_type = #{idCardType,jdbcType=INTEGER},
            </if>
            <if test="idConfig != null">
                id_config = #{idConfig,jdbcType=INTEGER},
            </if>
            <if test="reasonApplication != null and reasonApplication != ''">
                `reason_application` = #{reasonApplication,jdbcType=VARCHAR},
            </if>
            <if test="amount != null">
                amount = #{amount,jdbcType=DECIMAL},
            </if>
            <if test="paymentName != null and paymentName != ''">
                payment_name = #{paymentName,jdbcType=VARCHAR},
            </if>
            <if test="paymentAccount != null and paymentAccount != ''">
                payment_account = #{paymentAccount,jdbcType=VARCHAR},
            </if>
            <if test="idPaymentFormState != null">
                id_payment_form_state = #{idPaymentFormState, jdbcType=INTEGER},
            </if>
            <if test="state != null">
                `state` = #{state},
            </if>
            <if test="files != null and files != ''">
                `files` = #{files},
            </if>
            <if test="idApproval != null">
                id_approval = #{idApproval, jdbcType=INTEGER}
            </if>
        </set>
        where id_payment_form = #{idPaymentForm,jdbcType=INTEGER}
    </update>
    <delete id="deleteSelective" parameterType="java.lang.Integer">
        delete from payment_form where id_payment_form = #{idPaymentForm,jdbcType=INTEGER}
    </delete>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from payment_form where id_payment_form = #{idPaymentForm,jdbcType=INTEGER}
    </select>
    <select id="selectByPageTotal" resultType="java.lang.Integer">
        SELECT count(1)
        FROM payment_form pf
        LEFT JOIN `user` u ON u.`id_user` = pf.`id_user`
        WHERE pf.id_user = #{idUser,jdbcType=INTEGER}
        <if test="paymentForm != null">
            <if test="paymentForm.code != null and paymentForm.code != ''">
                AND pf.`code` LIKE CONCAT('%',#{paymentForm.code,jdbcType=VARCHAR},'%')
            </if>
        </if>
    </select>
    <select id="selectByPage" resultType="com.project.entity.PaymentForm">
         SELECT
         pf.`id_payment_form` AS 'idPaymentForm',
         pf.`id_approval` as 'idApproval',
         pf.`code`,
         pf.`id_card_type` as 'idCardType',
         pf.`reason_application` AS 'reasonApplication',
         pf.`amount`,
         pf.`payment_name` AS 'paymentName',
         pf.`payment_account` AS 'paymentAccount',
         pf.`id_payment_form_state` as 'idPaymentFormState',
         pf.`create_time` AS 'createTime',
         pf.`id_user` AS 'idUser',
         pf.`state`,
         pf.`files`,
         u.`real_name` AS 'userName'
        FROM payment_form pf
        LEFT JOIN `user` u ON u.`id_user` = pf.`id_user`
        WHERE pf.id_user = #{idUser,jdbcType=INTEGER}
        <if test="paymentForm != null">
            <if test="paymentForm.code != null and paymentForm.code != ''">
                AND pf.`code` LIKE CONCAT('%',#{paymentForm.code,jdbcType=VARCHAR},'%')
            </if>
            <if test="paymentForm.idPaymentFormState != null">
                and pf.`id_payment_form_state` = #{paymentForm.idPaymentFormState,jdbcType=INTEGER}
            </if>
        </if>
        ORDER BY pf.`create_time` DESC
        <if test="pageSize > 0">
            LIMIT #{startIndex},#{pageSize}
        </if>
    </select>
</mapper>