<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.project.mapper.master.ProjectTypeMapper">
    <resultMap id="BaseResultMap" type="com.project.entity.ProjectType">
        <id column="id_project_type" property="idProjectType" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
	</resultMap>
    <sql id="Base_Column_List">
       id_project_type, `name`
	</sql>
    <select id="selectById" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM project_type
        WHERE id_project_type in
        <foreach collection="array" item="item" open="(" close=")" separator=",">
            #{item,jdbcType=INTEGER}
        </foreach>
    </select>
    <select id="getProjectTypeList" resultMap="BaseResultMap">
		SELECT
			 <include refid="Base_Column_List"/>
		FROM project_type
	</select>
</mapper>