<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.project.mapper.master.RemainingSumRecordMapper">
    <resultMap id="BaseResultMap" type="com.project.entity.RemainingSumRecord">
        <id column="id_remaining_sum_record" property="idRemainingSumRecord" jdbcType="INTEGER"/>
        <result column="id_card_type" property="idCardType" jdbcType="INTEGER"/>
        <result column="last_remaining_sum" property="lastRemainingSum" jdbcType="DECIMAL"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
       id_remaining_sum_record, id_card_type, last_remaining_sum, create_time
	</sql>
    <select id="queryRemainingSumByMonth" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM `remaining_sum_record`
        WHERE DATE_FORMAT(create_time, '%Y%m') = DATE_FORMAT(#{currentDate}, '%Y%m')
    </select>
    <select id="queryTodayRemainingSum" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM `remaining_sum_record`
        WHERE id_card_type = #{idCardType,jdbcType=INTEGER}
        and DATE_FORMAT(create_time, '%y-%m-%d')
        = DATE_FORMAT(NOW(), '%y-%m-%d')
    </select>
    <insert id="addSelective" parameterType="com.project.entity.RemainingSumRecord"
            useGeneratedKeys="true" keyProperty="idRemainingSumRecord">
        insert into remaining_sum_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="idRemainingSumRecord != null">
                id_remaining_sum_record,
            </if>
            <if test="idCardType != null">
                id_card_type,
            </if>
            <if test="lastRemainingSum != null">
                last_remaining_sum,
            </if>
            <if test="createTime != null and createTime != ''">
                create_time
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="idRemainingSumRecord != null">
                #{idRemainingSumRecord,jdbcType=INTEGER},
            </if>
            <if test="idCardType != null">
                #{idCardType,jdbcType=INTEGER},
            </if>
            <if test="lastRemainingSum != null">
                #{lastRemainingSum,jdbcType=DECIMAL},
            </if>
            <if test="createTime != null and createTime != ''">
                #{createTime,jdbcType=VARCHAR}
            </if>
        </trim>
    </insert>
</mapper>